//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


@font-face {
    font-family: 'major_mono_display';
    src: url('FONTS/Major_Mono_Display/MajorMonoDisplay-Regular.ttf');

}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


@font-face {
    font-family: 'Montserrat';
    src: url('FONTS/Montserrat/Montserrat-VariableFont_wght.ttf');

}

@font-face {
    font-family: 'Montserrat_italic';
    src: url('FONTS/Montserrat/Montserrat-Italic-VariableFont_wght.ttf');

}


@font-face {
    font-family: 'Montserrat_thin';
    src: url('FONTS/Montserrat/static/Montserrat-Thin.ttf');

}

@font-face {
    font-family: 'Montserrat_light';
    src: url('FONTS/Montserrat/static/Montserrat-Light.ttf');

}

@font-face {
    font-family: 'Montserrat_medium';
    src: url('FONTS/Montserrat/static/Montserrat-Medium.ttf');

}

@font-face {
    font-family: 'Montserrat_regular';
    src: url('FONTS/Montserrat/static/Montserrat-Regular.ttf');

}

@font-face {
    font-family: 'Montserrat_bold';
    src: url('FONTS/Montserrat/static/Montserrat-Bold.ttf');

}

@font-face {
    font-family: 'Montserrat_extra_bold';
    src: url('FONTS/Montserrat/static/Montserrat-ExtraBold.ttf ');

}







//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////



@font-face {
    font-family: 'MontserratAlternates_light';
    src: url('FONTS/Montserrat_Alternates/MontserratAlternates-Light.ttf');

}

@font-face {
    font-family: 'MontserratAlternates_medium';
    src: url('FONTS/Montserrat_Alternates/MontserratAlternates-Medium.ttf');

}

@font-face {
    font-family: 'MontserratAlternates_regular';
    src: url('FONTS/Montserrat_Alternates/MontserratAlternates-Regular.ttf');

}

@font-face {
    font-family: 'MontserratAlternates_bold';
    src: url('FONTS/Montserrat_Alternates/MontserratAlternates-Bold.ttf');

}



//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////




@font-face {
    font-family: 'MontserratSubrayada_regular';
    src: url('FONTS/Montserrat_Subrayada/MontserratSubrayada-Regular.ttf');

}

@font-face {
    font-family: 'MontserratSubrayada_bold';
    src: url('FONTS/Montserrat_Subrayada/MontserratSubrayada-Bold.ttf');

}



//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


@font-face {
    font-family: 'Roboto_thin';
    src: url('FONTS/Roboto/Roboto-thin.ttf');

}

@font-face {
    font-family: 'Roboto_light';
    src: url('FONTS/Roboto/Roboto-Light.ttf');

}

@font-face {
    font-family: 'Roboto_regular';
    src: url('FONTS/Roboto/Roboto-Regular.ttf');

}

@font-face {
    font-family: 'Roboto_medium';
    src: url('FONTS/Roboto/Roboto-Medium.ttf');

}

@font-face {
    font-family: 'Roboto_bold';
    src: url('FONTS/Roboto/Roboto-Bold.ttf');

}


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


@font-face {
    font-family: 'RobotoCondensed_light';
    src: url('FONTS/Roboto_Condensed/RobotoCondensed-Light.ttf');

}

@font-face {
    font-family: 'RobotoCondensed_regular';
    src: url('FONTS/Roboto_Condensed/RobotoCondensed-Regular.ttf');

}

@font-face {
    font-family: 'RobotoCondensed_bold';
    src: url('FONTS/Roboto_Condensed/RobotoCondensed-Bold.ttf');

}



//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


@font-face {
    font-family: 'RobotoFlex_regular';
    src: url('FONTS/Roboto_Flex/static/RobotoFlex/RobotoFlex-Regular.ttf');

}


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


@font-face {
    font-family: 'RobotoMono_light';
    src: url('FONTS/Roboto_Mono/static/RobotoMono-Light.ttf');

}

@font-face {
    font-family: 'RobotoMono_medium';
    src: url('FONTS/Roboto_Mono/static/RobotoMono-Medium.ttf');

}


@font-face {
    font-family: 'RobotoMono_regular';
    src: url('FONTS/Roboto_Mono/static/RobotoMono-Regular.ttf');

}


@font-face {
    font-family: 'RobotoMono_semi_bold';
    src: url('FONTS/Roboto_Mono/static/RobotoMono-SemiBold.ttf');

}



@font-face {
    font-family: 'RobotoMono_bold';
    src: url('FONTS/Roboto_Mono/static/RobotoMono-Bold.ttf');

}






//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


@font-face {
    font-family: 'RobotoSlab_light';
    src: url('FONTS/Roboto_Slab/static/RobotoSlab-Light.ttf');

}

@font-face {
    font-family: 'RobotoSlab_medium';
    src: url('FONTS/Roboto_Slab/static/RobotoSlab-Medium.ttf');

}

@font-face {
    font-family: 'RobotoSlab_regular';
    src: url('FONTS/Roboto_Slab/static/RobotoSlab-Regular.ttf');

}


@font-face {
    font-family: 'RobotoSlab_semi_bold';
    src: url('FONTS/Roboto_Slab/static/RobotoSlab-SemiBold.ttf');

}

@font-face {
    font-family: 'RobotoSlab_bold';
    src: url('FONTS/Roboto_Slab/static/RobotoSlab-Bold.ttf');

}


@font-face {
    font-family: 'RobotoSlab_extra_bold';
    src: url('FONTS/Roboto_Slab/static/RobotoSlab-ExtraBold.ttf');

}



//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


@font-face {
    font-family: 'Righteous_Regular';
    src: url('FONTS/Righteous/Righteous-Regular.ttf');

}


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


@font-face {
    font-family: 'Raleway_extra_light';
    src: url('FONTS/Raleway/static/Raleway-ExtraLight.ttf');

}

@font-face {
    font-family: 'Raleway_light';
    src: url('FONTS/Raleway/static/Raleway-Light.ttf');

}


@font-face {
    font-family: 'Raleway_thin';
    src: url('FONTS/Raleway/static/Raleway-Thin.ttf');

}


@font-face {
    font-family: 'Raleway_regular';
    src: url('FONTS/Raleway/static/Raleway-Regular.ttf');

}


@font-face {
    font-family: 'Raleway_semi_bold';
    src: url('FONTS/Raleway/static/Raleway-SemiBold.ttf');

}

@font-face {
    font-family: 'Raleway_bold';
    src: url('FONTS/Raleway/static/Raleway-Bold.ttf');

}

@font-face {
    font-family: 'Raleway_extra_bold';
    src: url('FONTS/Raleway/static/Raleway-ExtraBold.ttf');

}


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


@font-face {
    font-family: 'Raleway_dots';
    src: url('FONTS/Raleway_Dots/RalewayDots-Regular.ttf');

}


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


@font-face {
    font-family: 'Poppins_extraLight';
    src: url('FONTS/Poppins/Poppins-ExtraLight.ttf');

}


@font-face {
    font-family: 'Poppins_Light';
    src: url('FONTS/Poppins/Poppins-Light.ttf');

}


@font-face {
    font-family: 'Poppins_medium';
    src: url('FONTS/Poppins/Poppins-medium.ttf');

}


@font-face {
    font-family: 'Poppins_regular';
    src: url('FONTS/Poppins/Poppins-Regular.ttf');

}


@font-face {
    font-family: 'Poppins_semi_bold';
    src: url('FONTS/Poppins/Poppins-SemiBold.ttf');

}


@font-face {
    font-family: 'Poppins_bold';
    src: url('FONTS/Poppins/Poppins-Bold.ttf');

}


@font-face {
    font-family: 'Poppins_extra_bold';
    src: url('FONTS/Poppins/Poppins-ExtraBold.ttf');

}


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


@font-face {
    font-family: 'JosefinSans_extra_light';
    src: url('FONTS/Josefin_Sans/static/JosefinSans-ExtraLight.ttf');

}


@font-face {
    font-family: 'JosefinSans_light';
    src: url('FONTS/Josefin_Sans/static/JosefinSans-Light.ttf');

}

@font-face {
    font-family: 'JosefinSans_medium';
    src: url('FONTS/Josefin_Sans/static/JosefinSans-medium.ttf');

}

@font-face {
    font-family: 'JosefinSans_regular';
    src: url('FONTS/Josefin_Sans/static/JosefinSans-Regular.ttf');

}

@font-face {
    font-family: 'JosefinSans_semi_bold';
    src: url('FONTS/Josefin_Sans/static/JosefinSans-SemiBold.ttf');

}

@font-face {
    font-family: 'JosefinSans_bold';
    src: url('FONTS/Josefin_Sans/static/JosefinSans-Bold.ttf');

}



//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////



@font-face {
    font-family: 'JosefinSlab_extra_light';
    src: url('FONTS/Josefin_Slab/static/JosefinSlab-ExtraLight.ttf');

}


@font-face {
    font-family: 'JosefinSlab_light';
    src: url('FONTS/Josefin_Slab/static/JosefinSlab-Light.ttf');

}

@font-face {
    font-family: 'JosefinSlab_medium';
    src: url('FONTS/Josefin_Slab/static/JosefinSlab-medium.ttf');

}

@font-face {
    font-family: 'JosefinSlab_regular';
    src: url('FONTS/Josefin_Slab/static/JosefinSlab-Regular.ttf');

}

@font-face {
    font-family: 'JosefinSlab_semi_bold';
    src: url('FONTS/Josefin_Sans/static/JosefinSlab-SemiBold.ttf');

}

@font-face {
    font-family: 'JosefinSlab_bold';
    src: url('FONTS/Josefin_Slab/static/JosefinSlab-Bold.ttf');

}


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


@font-face {
    font-family: 'Lato_light';
    src: url('FONTS/Lato/Lato-Light.ttf');

}


@font-face {
    font-family: 'Lato_thin';
    src: url('FONTS/Lato/Lato-Thin.ttf');

}


@font-face {
    font-family: 'Lato_regular';
    src: url('FONTS/Lato/Lato-Regular.ttf');

}




@font-face {
    font-family: 'Lato_bold';
    src: url('FONTS/Lato/Lato-Bold.ttf');

}


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


@font-face {
    font-family: 'PTSans_regular';
    src: url('FONTS/PT_Sans/PTSans-Regular.ttf');

}

@font-face {
    font-family: 'PTSans_bold';
    src: url('FONTS/PT_Sans/PTSans-Bold.ttf');

}


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


@font-face {
    font-family: 'AbrilFatface_regular';
    src: url('FONTS/Abril_Fatface/AbrilFatface-Regular.ttf');

}


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


@font-face {
    font-family: 'AlbertSans_light';
    src: url('FONTS/Albert_Sans/static/AlbertSans-Light.ttf');

}

@font-face {
    font-family: 'AlbertSans_medium';
    src: url('FONTS/Albert_Sans/static/AlbertSans-Medium.ttf');

}


@font-face {
    font-family: 'AlbertSans_regular';
    src: url('FONTS/Albert_Sans/static/AlbertSans-Regular.ttf');

}


@font-face {
    font-family: 'AlbertSans_bold';
    src: url('FONTS/Albert_Sans/static/AlbertSans-Bold.ttf');

}


@font-face {
    font-family: 'AlbertSans_extra_bold';
    src: url('FONTS/Albert_Sans/static/AlbertSans-ExtraBold.ttf');

}


@font-face {
    font-family: 'AlbertSans_light';
    src: url('FONTS/Albert_Sans/static/AlbertSans-Light.ttf');

}




//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


@font-face {
    font-family: 'AnonymousPro_regular';
    src: url('FONTS/Anonymous_Pro/AnonymousPro-Regular.ttf');

}


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


@font-face {
    font-family: 'BadScript_regular';
    src: url('FONTS/Bad_Script/BadScript-Regular.ttf');

}


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


@font-face {
    font-family: 'Barlow-Light';
    src: url('FONTS/Barlow/Barlow-Light.ttf');

}

@font-face {
    font-family: 'Barlow_medium';
    src: url('FONTS/Barlow/Barlow-Medium.ttf');

}

@font-face {
    font-family: 'Barlow_regular';
    src: url('FONTS/Barlow/Barlow-Regular.ttf');

}

@font-face {
    font-family: 'Barlow_bold';
    src: url('FONTS/Barlow/Barlow-Bold.ttf');

}

@font-face {
    font-family: 'Barlow_semi_bold';
    src: url('FONTS/Barlow/Barlow-SemiBold.ttf');

}

@font-face {
    font-family: 'Barlow_extra_bold';
    src: url('FONTS/Barlow/Barlow-ExtraBold.ttf');

}



//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


@font-face {
    font-family: 'CantataOne_regular';
    src: url('FONTS/Cantata_One/CantataOne-Regular.ttf');

}


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


@font-face {
    font-family: 'Cardo_regular';
    src: url('FONTS/Cardo/Cardo-Regular.ttf');

}

@font-face {
    font-family: 'Cardo_bold';
    src: url('FONTS/Cardo/Cardo-Bold.ttf');

}


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


@font-face {
    font-family: 'Comfortaa_light';
    src: url('FONTS/Comfortaa/static/Comfortaa-Light.ttf');

}

@font-face {
    font-family: 'Comfortaa_regular';
    src: url('FONTS/Comfortaa/static/Comfortaa-Regular.ttf');

}


@font-face {
    font-family: 'Comfortaa_semi_bold';
    src: url('FONTS/Comfortaa/static/Comfortaa-SemiBold.ttf');

}

@font-face {
    font-family: 'Comfortaa_bold';
    src: url('FONTS/Comfortaa/static/Comfortaa-Bold.ttf');

}




//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


@font-face {
    font-family: 'DarkerGrotesque_light';
    src: url('FONTS/Darker_Grotesque/DarkerGrotesque-Light.ttf');

}

@font-face {
    font-family: 'DarkerGrotesque_medium';
    src: url('FONTS/Darker_Grotesque/DarkerGrotesque-Medium.ttf');

}

@font-face {
    font-family: 'DarkerGrotesque_regular';
    src: url('FONTS/Darker_Grotesque/DarkerGrotesque-Regular.ttf');

}

@font-face {
    font-family: 'DarkerGrotesque_bold';
    src: url('FONTS/Darker_Grotesque/DarkerGrotesque-Bold.ttf');

}



//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


@font-face {
    font-family: 'EduQLDBeginner_regular';
    src: url('FONTS/Edu_QLD_Beginner/static/EduQLDBeginner-Regular.ttf');

}

@font-face {
    font-family: 'EduQLDBeginner_medium';
    src: url('FONTS/Edu_QLD_Beginner/static/EduQLDBeginner-Medium.ttf');

}

@font-face {
    font-family: 'EduQLDBeginner_semi_bold';
    src: url('FONTS/Edu_QLD_Beginner/static/EduQLDBeginner-SemiBold.ttf');

}

@font-face {
    font-family: 'EduQLDBeginner_bold';
    src: url('FONTS/Edu_QLD_Beginner/static/EduQLDBeginner-Bold.ttf');

}


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


@font-face {
    font-family: 'Explora_regular';
    src: url('FONTS/Explora/Explora-Regular.ttf');

}


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


@font-face {
    font-family: 'Figtree_light';
    src: url('FONTS/Figtree/static/Figtree-Light.ttf');

}

@font-face {
    font-family: 'Figtree_medium';
    src: url('FONTS/Figtree/static/Figtree-Medium.ttf');

}

@font-face {
    font-family: 'Figtree_semi_bold';
    src: url('FONTS/Figtree/static/Figtree-SemiBold.ttf');

}

@font-face {
    font-family: 'Figtree_bold';
    src: url('FONTS/Figtree/static/Figtree-Bold.ttf');

}


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


@font-face {
    font-family: 'FlowBlock_regular';
    src: url('FONTS/Flow_Block/FlowBlock-Regular.ttf');

}


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


@font-face {
    font-family: 'GreatVibes_regular';
    src: url('FONTS/Great_Vibes/GreatVibes-Regular.ttf');

}


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


@font-face {
    font-family: 'Karla_light';
    src: url('FONTS/Karla/static/Karla-Light.ttf');

}

@font-face {
    font-family: 'Karla_medium';
    src: url('FONTS/Karla/static/Karla-Medium.ttf');

}

@font-face {
    font-family: 'Karla_regular';
    src: url('FONTS/Karla/static/Karla-Regular.ttf');

}

@font-face {
    font-family: 'Karla_semi_bold';
    src: url('FONTS/Karla/static/Karla-SemiBold.ttf');

}

@font-face {
    font-family: 'Karla_bold';
    src: url('FONTS/Karla/static/Karla-Bold.ttf');

}

@font-face {
    font-family: 'Karla_extra_bold';
    src: url('FONTS/Karla/static/Karla-ExtraBold.ttf');

}


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


@font-face {
    font-family: 'LibreBarcode128_regular';
    src: url('FONTS/Libre_Barcode_128/LibreBarcode128-Regular.ttf');

}


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


@font-face {
    font-family: 'LibreBarcode39_Regular';
    src: url('FONTS/Libre_Barcode_39/LibreBarcode39-Regular.ttf');

}


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


@font-face {
    font-family: 'LibreBarcode39Text_regular';
    src: url('FONTS/Libre_Barcode_39_Text/LibreBarcode39Text-Regular.ttf');

}


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


@font-face {
    font-family: 'Lora_medium';
    src: url('FONTS/Lora/static/Lora-Medium.ttf');

}

@font-face {
    font-family: 'Lora_regular';
    src: url('FONTS/Lora/static/Lora-Regular.ttf');

}

@font-face {
    font-family: 'Lora_semi_bold';
    src: url('FONTS/Lora/static/Lora-SemiBold.ttf');

}

@font-face {
    font-family: 'Lora_bold';
    src: url('FONTS/Lora/static/Lora-Bold.ttf');

}


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


@font-face {
    font-family: 'LuxuriousScript_regular';
    src: url('FONTS/Luxurious_Script/LuxuriousScript-Regular.ttf');

}


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


@font-face {
    font-family: 'Manrope';
    src: url('FONTS/Manrope/Manrope-VariableFont_wght.ttf');

}


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


@font-face {
    font-family: 'NothingYouCouldDo_regular';
    src: url('FONTS/Nothing_You_Could_Do/NothingYouCouldDo-Regular.ttf');

}


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


@font-face {
    font-family: 'NunitoSans_extra_Light';
    src: url('FONTS/Nunito_Sans/NunitoSans-ExtraLight.ttf');

}

@font-face {
    font-family: 'NunitoSans_light';
    src: url('FONTS/Nunito_Sans/NunitoSans-Light.ttf');

}

@font-face {
    font-family: 'NunitoSans_regular';
    src: url('FONTS/Nunito_Sans/NunitoSans-Regular.ttf');

}

@font-face {
    font-family: 'NunitoSans_semiBold';
    src: url('FONTS/Nunito_Sans/NunitoSans-SemiBold.ttf');

}

@font-face {
    font-family: 'NunitoSans_bold';
    src: url('FONTS/Nunito_Sans/NunitoSans-Bold.ttf');

}

@font-face {
    font-family: 'NunitoSans_extra_bold';
    src: url('FONTS/Nunito_Sans/NunitoSans-ExtraBold.ttf');

}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


@font-face {
    font-family: 'Pacifico_regular';
    src: url('FONTS/Pacifico/Pacifico-Regular.ttf');

}


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


@font-face {
    font-family: 'PlayfairDisplay_medium';
    src: url('FONTS/Playfair_Display/static/PlayfairDisplay-Medium.ttf');

}


@font-face {
    font-family: 'PlayfairDisplay_regular';
    src: url('FONTS/Playfair_Display/static/PlayfairDisplay-Regular.ttf');

}

@font-face {
    font-family: 'PlayfairDisplay_semi_bold';
    src: url('FONTS/Playfair_Display/static/PlayfairDisplay-SemiBold.ttf');

}

@font-face {
    font-family: 'PlayfairDisplay_bold';
    src: url('FONTS/Playfair_Display/static/PlayfairDisplay-Bold.ttf');

}

@font-face {
    font-family: 'PlayfairDisplay_extra_bold';
    src: url('FONTS/Playfair_Display/static/PlayfairDisplay-ExtraBold.ttf');

}


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


@font-face {
    font-family: 'Slabo27px_Regular';
    src: url('FONTS/Slabo_27px/Slabo27px-Regular.ttf');

}


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


@font-face {
    font-family: 'SourceSansPro_extraLight';
    src: url('FONTS/Source_Sans_Pro/SourceSansPro-ExtraLight.ttf');

}


@font-face {
    font-family: 'SourceSansPro_light';
    src: url('FONTS/Source_Sans_Pro/SourceSansPro-Light.ttf');

}

@font-face {
    font-family: 'SourceSansPro_regular';
    src: url('FONTS/Source_Sans_Pro/SourceSansPro-Regular.ttf');

}

@font-face {
    font-family: 'SourceSansPro_semi_bold';
    src: url('FONTS/Source_Sans_Pro/SourceSansPro-SemiBold.ttf');

}

@font-face {
    font-family: 'SourceSansPro_bold';
    src: url('FONTS/Source_Sans_Pro/SourceSansPro-Bold.ttf');

}



//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


@font-face {
    font-family: 'WorkSans_extraLight';
    src: url('FONTS/Work_Sans/static/WorkSans-ExtraLight.ttf');

}

@font-face {
    font-family: 'WorkSans_thin';
    src: url('FONTS/Work_Sans/static/WorkSans-Thin.ttf');

}

@font-face {
    font-family: 'WorkSans_light';
    src: url('FONTS/Work_Sans/static/WorkSans-Light.ttf');

}

@font-face {
    font-family: 'WorkSans_regular';
    src: url('FONTS/Work_Sans/static/WorkSans-Regular.ttf');

}

@font-face {
    font-family: 'WorkSans_medium';
    src: url('FONTS/Work_Sans/static/WorkSans-Medium.ttf');

}

@font-face {
    font-family: 'WorkSans_semi_bold';
    src: url('FONTS/Work_Sans/static/WorkSans-SemiBold.ttf');

}

@font-face {
    font-family: 'WorkSans_bold';
    src: url('FONTS/Work_Sans/static/WorkSans-Bold.ttf');

}

@font-face {
    font-family: 'WorkSans_extra_bold';
    src: url('FONTS/Work_Sans/static/WorkSans-ExtraBold.ttf');

}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////